<app-header></app-header>
<app-equipo equipo="Cruz azul" [jugadores]="[{ numero: 18, nombre: 'Victor', posicion: 'delantero'}]"></app-equipo>
<app-equipo equipo="America" [jugadores]="[{ numero: 8, nombre: 'Alberto', posicion: 'delantero'}]"></app-equipo>
<app-equipo equipo="Pumas" [jugadores]="[{ numero: 8, nombre: 'Guiñon', posicion: 'delantero'}]"></app-equipo>
<app-equipo equipo="Chivas" [jugadores]="[{ numero: 4, nombre: 'Guero', posicion: 'delantero'}, { numero: 5, nombre: 'Luis', posicion: 'defensa'}]"></app-equipo>